/* HTML ELEMENTS */

body {
	background: rgb(95, 150, 62) url('../img/grass.jpg') repeat right top;
	background-attachment: scroll;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

html, body {
	height: 100%;
}

/* CLASS */

ul.actions li {
	float: right;
	list-style-type: none;
	padding-right: 8px;
	margin-top: -20px;
}

h2.article_title {
	border-bottom: 1px solid black;
	font-size: 1.8em;
	padding: 0;
}

h2.article_title a, a:visited {
	color: black;
}

table.category {
	width: 100%;
}

table.category th {
	background: #6db3f2; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYjNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU0YTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzM2OTBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTY5ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
	border-right: 2px solid white;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-8 */
}

table.category th:hover {
	background: #3b679e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiNjc5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJiODhkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */

}

table.category td a, a:visited {
	color: black;
}

table.category th a, a:visited {
	color: white;
}

tr[class*='cat-list-row'] {
	border-bottom: 1px dotted silver;
}

tr[class*='cat-list-row']:hover {
	background-color: silver;
}

tr[class*='cat-list-row'] td {
	border-right: 1px solid white;
}

.category-list {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	padding: 8px;
}

.category-module h4 {
	font-size: 14px;
	font-weight: normal;
}

.category-module h4 a {
	color: black;
}

.dashboard {
	background: #ffd038; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiNmZmQwMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNkOGIzMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffd038 47%, #d8b32e 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,#ffd038), color-stop(80%,#d8b32e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd038 47%,#d8b32e 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd038 47%,#d8b32e 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd038 47%,#d8b32e 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd038 47%,#d8b32e 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd038', endColorstr='#d8b32e',GradientType=0 ); /* IE6-8 */
	height: 224px;
	margin-bottom: 10px;
	overflow-y: auto;
	padding: 5px;
}

.dashboard li {
	background-image: url('../img/flag.png');
	background-repeat: no-repeat;
	list-style-type: none;
	margin-left: 0;
	min-height: 24px;
	padding-left: 20px;
}

.dashboard ul.easyfolderlisting {
	margin-left: 5px;
}

.dashboard ul.easyfolderlisting a, a:visited {
	color: black;
}

.feed-link {
	font-size: 14px;
	font-weight: normal;
}

.feed-link a {
	color: black;
}

.item-page {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	min-height: 0;
	padding: 8px;
}

td.list-date {
	text-align: right;
}

.navbar .nav > li > a {
	color: #000;
	font-weight: 700;
	padding: 2px 15px 2px;
	text-shadow: none;
}

/navbar .nav li.dropdown.open > .dropdown-toggle {
	background-color: white;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

div.navbar-inner {
	background: #ffd038; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiNmZmQwMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNkOGIzMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffd038 47%, #d8b32e 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,#ffd038), color-stop(80%,#d8b32e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd038 47%,#d8b32e 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd038 47%,#d8b32e 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd038 47%,#d8b32e 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd038 47%,#d8b32e 80%); /* W3C */
	border: 0;
	border-radius: 0;
	box-shadow: none;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd038', endColorstr='#d8b32e',GradientType=0 ); /* IE6-8 */`
}

ul.newsfeed {
	margin: 0 0 0 5px;
}

/* ID */

#branding {
	background-color: black;
	border: 8px solid white;
	border-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	width: auto;
}

#container {
	margin: 0 auto;
	min-height: 100%;
	padding: 0;
	position: relative;
	width: 984px;
}

#content {
	min-height: 0;
	padding-bottom: 64px;
}

#facebook_button {
	position: absolute;
	right: 12px;
	top: 12px;
}

#footer {
	background: #ffd038; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiNmZmQwMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNkOGIzMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffd038 47%, #d8b32e 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,#ffd038), color-stop(80%,#d8b32e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd038 47%,#d8b32e 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd038 47%,#d8b32e 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd038 47%,#d8b32e 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd038 47%,#d8b32e 80%); /* W3C */
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
	clear: both;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd038', endColorstr='#d8b32e',GradientType=0 ); /* IE6-8 */
	height: 44px;
	margin-top: -64px;
	padding: 10px;
	position: relative;
}

#form-login-remember input, #form-login-remember label {
	float: left;
	margin-right: 10px;
}

#header {
	border-radius: 5px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
	margin-bottom:10px;
}

#login_form {
	background-color: #d7b12a;
	display: none;
	padding: 10px;
	position: absolute;
	top: 40px;
	z-index: 99;
}

.login_link, .login_link:visited {
	color: white;
	cursor: pointer;
}

.login_link:hover {
	color: white;
	text-decoration: none;
}

#logout_button {
	background-color: transparent;
	border: 0;
	color: white;
	font-size: 14px;
	padding: 0;
}

#menubar {
	border: 8px solid white;
	border-top: 1px solid white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 0;
}

#login_button {
	border-right: 1px solid white;
	color: white;
	font-size: 14px;
	height: 20px;
	left: 8;
	padding: 5px 10px;
	position: absolute;
	top: 8;
}

#slideshow {
	background: black;
	border-left: 8px solid white;
	border-right: 8px solid white;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	border: 8px solid white;
	border-radius: 5px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}

/* Smaller styles */

/* Responsive design

@media (max-width: 767px) {
	body{
		background: #fff;
		padding: 0;
	}
	
	.dashboard {
		margin-bottom: 0;
		max-height: 224px;
	}
	
	.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
		border-radius: 0;
		border: 0;
		box-shadow: none;
	}
	
	#branding {
		border: 0;
		border-radius: 0;
	}
	
	#content {
		margin-bottom: 0;
	}
	
	#header {
		border-radius: 0;
		box-shadow: none;
		margin: 0;
	}
	
	#menubar {
		border: 0;
		border-radius: 0;
	}
}*/